[Unit]
Description=Steelseries Apex set colors
Documentation="https://github.com/Vthyarilops/ApexCtl"

[Service]
Type=simple
ExecStart=/usr/local/bin/apex --boot

[Install]
WantedBy=multi-user.target
